<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/lib/layui/css/layui.css">
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="layout-header">
        <ul class="layui-nav" id="nav">
            <li class="layui-nav-item">
              <a href="">控制台<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
              <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item" lay-unselect="">
        
        <a href="javascript:;"><img src="/img/home.jpg" class="layui-nav-img" id="img"><%=nickName%></a>
              <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="http://localhost:3000/login.html#" id="upddate">退了</a></dd>
              </dl>
            </li>
          </ul>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/lib/layui/layui.all.js"></script>
<script>


</script>
</body>
</html>
